[Unit]
Description=swap

[Service]
User=root
Group=root
SmackProcessLabel=swap
PermissionsStartOnly=true
Type=oneshot

Before=swap.service
Requires=swap.service

ExecStart=/opt/swap/sdk/service_preinit.sh
