[Unit]
Description=debug_socket

[Socket]
User=developer
Group=developer
ListenStream=/tmp/da.socket
SocketMode=0777
SmackLabelIPIn=*
SmackLabelIPOut=@

[Socket]
User=developer
Group=developer
ListenStream=/tmp/da_ui.socket
SocketMode=0777
SmackLabelIPIn=*
SmackLabelIPOut=@


[Install]
WantedBy=sockets.target
